<div id="nav" layout="row top-left">
    <div self="left">
        <a href="/">
            <div class="logo logo-isNotVisIfMobile">Weather</div>
        </a>
        <a href="/">
            <div class="logo logo-isVisIfMobile"></div>
        </a>
    </div>
    <div class="nav-isNotVisIfMobile">
        <div class="item" routerLinkActive="current" *ngFor="let link of links">
            <a routerLink="{{link.route}}">{{link.tag}}</a>
        </div>
    </div>
    <div class="nav-isVisIfMobile">
        <div class="item" routerLinkActive="current" *ngFor="let link of links">
            <a routerLink="{{link.route}}">{{link.tag}}</a>
        </div>
    </div>
</div>