<li class="mix" style="display: inline-block;" data-bound="">
    <a href="">
        <div class="card card--{{sufix}}">
            <div class="card-body card-body--{{sufix}} {{daytime}} {{sky}}">
                <div class="card-title card-title--{{sufix}}">{{location.name}}</div>

                <div #clouds *ngIf="cloudy">
                    <div *ngFor="let counter of semi" class="cloud {{counter}}"></div>
                </div>

                <div #rainClouds *ngIf="rainy">
                    <div *ngFor="let counter of semi" class="cloud {{counter}} rain"></div>
                </div>

                <div #stormClouds *ngIf="stormy">
                    <div *ngFor="let counter of semi" class="cloud {{counter}} storm"></div>
                </div>

                <div class="land">
                    <div class="tree"></div>
                    <div class="tree a"></div>
                    <div class="tree b"></div>
                    <!-- div class="tree c"></div -->
                    <div class="tree d"></div>
                </div>

                <div #stars *ngIf="daytime=='night'">
                    <div class="star"></div>
                    <div class="star a"></div>
                    <div class="star b"></div>
                    <div class="star c"></div>
                    <div class="star d"></div>
                    <div class="star e"></div>
                    <div class="star f"></div>
                    <div class="star g"></div>
                    <div class="star h"></div>
                </div>

                <div #wind *ngIf="windy">
                    <div class="wind"></div>
                    <div class="swirly-wind">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="swirly-wind a"></div>
                    <div class="swirly-wind b"></div>
                </div>

                <!-- div class="eclipse" -->
                <div class="sun" *ngIf="daytime!=='night'"></div>
                <!-- div class="sun a" *ngIf="daytime!='night'"></div -->
                <div class="moon" *ngIf="daytime==='night'">
                    <div class="crater crater--1"></div>
                    <div class="crater crater--2"></div>
                    <div class="crater crater--3"></div>
                </div>
                <!-- /div -->
                <div class="card-meta-container">

                    <div class="card-temperature card-title--{{sufix}}">{{temp}}</div>
                    <div class="card-description card-description--{{sufix}}">{{description}}</div>
                </div>
            </div>
            <div class="card-footer" *ngIf="sufix!='weather'">
                <div class="card-footer-wrapper" layout="row bottom-left">
                    <div class="card-tag is-notShownIfHover">design lectures</div>
                    <div class="card-tag is-shownIfHover">Play this video</div>
                </div>
            </div>
        </div>
    </a>
</li>
