<div class="container">
    <div layout="row">
        <div class="input-field" layout="column bottom-left" self="size-3of5">
            <label for="field">{{searchLabel}}</label>
            <input [(ngModel)]=query (input)="filter()" id="field" type="text" class="validate filter-input">
        </div>
        <div class="input-field" layout="column bottom-rigth" self="size-2of5">
            <button class="button button--{{buttonClass}} button--small" (click)="sendSelected()">Agregar</button>
        </div>
    </div>

    <div class="suggestions">
        <ul *ngIf="filteredList.length > 0" class="filteredList">
            <li *ngFor="let item of filteredList" (click)="select(item)">{{item.description}}</li>
        </ul>
    </div>
</div>