<div class="container--sidebar" self="top">
    <div class="sidebar">
        <div class="sidebar-title">
            <h1>Continentes</h1>
        </div>

        <div id="filters">
            <div class="filter-tab">
                <li
                    class="sidebar-link"
                    *ngFor="let link of links" >
                    <a
                        [routerLink]="[link.route]"
                        routerLinkActive="selected"
                        [ngClass]="link.route == continentFilter ? 'selected': ''">{{link.tag}}</a>
                </li>
            </div>
        </div>
    </div>
</div>